<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Все пользователи</title>
  <%- include('connect_styles') %>
</head>
<%- include('header') %>
<body>
    <div class="container">
          <h1>Все тачки</h1>
          <% if(count !== null) { %>
            <h2>Количество найденных машин: <%= count%></h2>
            <% } %>
        <form action="/cars" method="POST">
        <h2>Найти машины по бренду</h2>
          <label for="brand">Бренд</label>
          <input type="text" id="brand" name="brand">
        <button>Найти машинки</button>
      </form>
          <% if(results !== null) { %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Марка авто</th>
                  <th scope="col">Модель авто</th>
                  <th scope="col">ID авто</th>
                </tr>
              </thead>
              <tbody>
                <% for(const car of results) { %>
                <tr>
                  <th scope="row"><%= car.Make_Name%></th>
                  <td><%= car.Model_Name%></td>
                  <td><%= car.Model_ID%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
    </div>
</body>

</html>