<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Все пользователи</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<%- include('header') %>
<body>
  <div class="users-content">
    <div class="all-users">
      <span class="users-title">Все пользователи</span>
      <% users.forEach(user=>{ %>
        <div class="card">
          <div class="card-text">Имя: <span class="card-title"><%= user.username %></span></div>
          <div class="card-text">ID: <span class="card-title"><%= user.id %></span></div>
          <div class="card-text">Пароль:<span class="card-title"><%= user.password %></span></div>
          <div class="card-text">Почта:<span class="card-title"><%= user.email %></span></div>
          <div class="card-text">
            <a href="/users/<%= user.id %>" class="card-button">Открыть</a>
          </div>
        </div>
      <% }); %>
    </div>
    <div class="reg-user">
      <span class="users-title">Регистрация пользователя</span>
      <form action="/users/create" method="POST" class="card">
        <div class="form-content">
          <div class="form-el">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-input" required>
          </div>
          <div class="form-el">
            <label for="email">Почта</label>
            <input type="email" id="email" name="email" class="form-input" required>
          </div>
          <div class="form-el">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" class="form-input" required>
          </div>
          <button type="submit" class="form-button">Создать аккаунт</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>