<!DOCTYPE html >
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
    <%- include('connect_styles') %>
</head>
<%- include('header') %>
<body>
        <div class="container">
          <div class="md-3">
            <h2>Прогноз погоды</h2>
          </div>
          <div class="card-body">
              <% if(error !== null && cod !== null) { %>
                <div class="alert alert-danger" role="alert">
                  <h1>Ошибка <%= cod %> : <%= error %></h1>
               </div>
              <% } %>

              <% if(city !== null) { %>
              <h1><%= city %></h1>
              <% } %>

              <% if(temp !== null) { %>
              <p>Температура: <%= temp %> градусов.</p>
              <% } %>

              <% if(speed !== null) { %>
              <p>Скорость ветра: <%= speed %> м/сек</p>
              <% } %>

              <% if(id !== null) { %>
                <p>id: <%= id %></p>
              <% } %>
          </div>
              <form action="/weather" method="post" class="md-3" style="width: 50%;">
                <div class="container">
                <input class="form-control" type="text" id="city" name="city" placeholder="Город"/>
                </div>
                <div class="container">
                  <div class="md-3">
                    <button class="btn btn-primary mb-3">Узнать погоду</button>
                  </div>
                </div>
            </form>
</div>
</body>
</html>