<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header') %>
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
        <div class="flex flex-wrap -m-4">
          <div class="p-4 xl:w-1/1 md:w-1/1 w-full">
            <div class="h-full p-6 rounded-lg border-2 border-gray-700 flex flex-col relative overflow-hidden">
              <h2 class="text-sm tracking-widest text-gray-400 title-font mb-1 font-medium">Прогноз погоды</h2>
              <% if(city !== null) { %>
              <h1 class="text-5xl text-white pb-4 mb-4 border-b border-gray-800 leading-none"><%= city %></h1>
              <% } %>
              <% if(temp !== null) { %>
              <p class="flex items-center text-gray-400 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-800 text-gray-500 rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>Температура: <%= temp %> градусов.
              </p>
              <% } %>
              <% if(speed !== null) { %>
              <p class="flex items-center text-gray-400 mb-2">
                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-800 text-gray-500 rounded-full flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg>
                </span>Скорость ветра: <%= speed %> м/сек
              </p>
              <% } %>
              <% if(id !== null) { %>
                <p class="flex items-center text-gray-400 mb-2">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-800 text-gray-500 rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg>
                  </span>id: <%= id %>
                </p>
                <% } %>

              <form action="/weather" method="post">
                <div class="flex w-full justify-center items-end">
                  <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                    <label for="email" class="leading-7 text-sm text-gray-400">Город</label>
                    <input type="text" id="city" name="city" class="w-full bg-gray-800 rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></input>
                </div>
                <button class="flex items-center mt-auto text-white bg-gray-800 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-700 rounded">Чек
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </section>
</div>
</body>
</html>